@page "/DocumentType"

<div class="card">
    <div class="card-header text-center">
        <span>
            <i class="bi bi-list-check"></i>  <strong>Tipo Documento</strong>
            <a class="btn btn-sm btn-primary float-end" href="/DocumentType/create"><i class="bi bi-plus-square"></i>Agregar tipo documento</a>
        </span>
    </div>
    <div class="card-body">
        <Filter PlaceHolder="Buscar tipo documento..." Callback=@FilterCallBack />
        <GenericList MyList="lstDocumentType">
            <Body>
                <Pagination CurrentPage="currentPage"
                            TotalPages="totalPages"
                            SelectedPage="SelectedPageAsync"
                            RecordsNumber="SelectedRecordsNumberAsync" />

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Categoría</th>
                            <th style="width:168px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lstDocumentType!)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>
                                    <a href="/DocumentType/edit/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Editar</a>
                                    <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-sm btn-danger"><i class="bi bi-trash" /> Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>