@page "/"

<PageTitle>Inicio</PageTitle>
<h1>PROYECTO SERVITECA</h1>


<MudPaper Class="p-4 my-4">
    <MudStack Row Justify="Justify.SpaceBetween">
        <MudStack>
            <MudText Typo="Typo.h3">Serviteca</MudText>
            <MudText Typo="Typo.h5">Aplicación de diagnostico automotor</MudText>
        </MudStack>
    </MudStack>
</MudPaper>

@* <MudContainer MaxWidth="MaxWidth.Large">

</MudContainer> *@
